<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JPMC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h2 align="center">JPMC</h2><br>

<a href="{% url 'farmerhome' %}">Home</a>&nbsp;&nbsp;
<a href="{% url 'farmerlogout' %}">Logout</a>

<h3 align="left" style="color:green">Welcome {{farmeruname}}</h3>

{% block body %}
<p>I am in FarmerHome Page</p>
{% endblock %}

</body>
</html>
