{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JPMC PROJECT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css"  rel="stylesheet" href="{% static  'css/style.css'  %}"  />
</head>
<body>

<h2 align="center">JPMC</h2> <br>

 <nav class="navbar">

     <div class="logo">LOGO</div>

     <ul class="nav-links">

         <div class="menu">

<li>   <a href="{% url 'home'  %}">Home</a></li>

<li class="services">

    <a href="#">Login</a>

    <ul class="dropdown">

            <li><a href="{% url 'login'  %}">Admin</a></li>

        <li><a href="{% url 'farmerlogin'  %}">Farmer</a></li>
    </ul>

</li>


         </div>

</ul>

 </nav>

<br><br>

{% block 'body' %}

<p>I am In Home Page</p>


{% endblock %}


</body>
</html>